.label{
    padding-right: 10px;
}
.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    text-align: center;
}
.button{
    margin-top: 10px;
}
.h1{
    text-align: center;
    font-size: 2em;
}