.overview_panel img {
    width: 100%;
    border-radius: 4px;
  }
  
  .overview_panel {
    padding: 20px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    background-color: var(--background-color-light);
  }
  
  .overview_name {
    text-align: center;
    font-size: 32px;
    margin-bottom: 0;
  }
  
  .overview_region {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 4px;
  }
  
  .overview_numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    text-align: center;
  }
  
  .overview_label {
    font-size: 14px;
    color: var(--text-secondary);
  }