.container {
    padding: 24px;
    height: 100vh;
  
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  .header {
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    margin: 32px;
    flex-direction: column;
  }
  
  .footer {
    margin-top: 32px;
    text-align: center;
    font-size: 0.75rem;
  }

  .menu{
    display: flex;
  }