.heading {
    display: flex;
    text-align: center;
}

.heading button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.header {
    flex: 1;
    padding: 20px;
    color: var(--text-secondary);
    font-weight: 700;
    text-align: center;  
}

.header_description {
    flex: 1;
    padding: 20px;
    font-weight: 700;
    text-align: center; 
    font-weight: bold;
}

.row {
    display: flex;
    padding: 20px;  
    text-align: center;  
    background-color: var(--background-color-light);
    border-radius: 8px;
    margin-bottom: 16px;  
    box-shadow: var(--box-shadow);
    font-weight: 700;  
    transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

.row:hover {
    transform: translate(-4px);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.description {
    flex: 1;
}

.secondary {
    flex: 1;
}

.done{
    background-color: greenyellow;
}

.undone{
    background-color: brown;
}